@charset "utf-8";
@media screen {
	body {
		
		background-position: left top;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: cover;
		color: black;
	}
}

html {
	font-family: "Helvetica";
}
header {
	height: 150px;
}
ul {
	list-style-type: none;
	margin: auto;
}
li {
	float: left;
	padding: 10px;
}
h1 {
	max-width: 250px;
	margin: auto;
}
.search {
	margin: 10px;
	max-width: 250px;
	margin: auto;
}
table {
	max-width: 250px;
	margin: auto;
}

