@charset "utf-8";
@media screen {
	body {
		
		background-position: left top;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: cover;
		color: silver;
	}
}

html {
	font-family: "Helvetica";
}
header {
	height: 150px;
	
}
